.navigate {
  display: flex;
  justify-content: space-between;
}

.header {
  padding: 20px 60px;
  background-color: #0a66c2;
}

.list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.items {
  padding: auto;
  color: white;
  text-decoration: none;
}

.button {
  padding: 10px 15px;
  border-radius: 3px;
  border: none !important;
  text-decoration: none;
  background-color: rgb(243, 242, 239);
}

.button:hover {
  cursor: pointer;
}
