* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.outer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.min-h {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}
.form {
  position: relative;
  background-color: white;
  border-radius: 5px;
  padding: 60px 50px;
  border: 1px solid rgb(224, 223, 220);
}
.form-head {
  margin-bottom: 20px;
  text-align: center;
}

.text-center {
  text-align: center;
}
.button-group {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px;
}

.left-btn {
  width: 100%;
  border-top-left-radius: 3px;
  border: 0;
  padding: 15px;
  background-color: #0a66c2;
  color: white;
  text-decoration: none;
}
.btn-active {
  background-color: #0a66c2;
}
.left-btn:hover,
.right-btn:hover {
  cursor: pointer;
  background-color: #0c5baa;
}

.right-btn {
  text-decoration: none;
  padding: 15px;
  background-color: #0a66c2;
  border-top-right-radius: 3px;
  width: 100%;
  border: 0;
  color: white;
}

.bg {
  background-color: #f3f2ef;
  min-height: 100vh;
}
